---
import type { iLink } from '@/data/link.type';
import { Image } from 'astro:assets';
interface Props {
  link: iLink;
}
const { link } = Astro.props;
---

<a
  href={link.url}
  target="_blank"
  rel="noopener noreferrer"
  class="flex flex-col items-center gap-2 rounded-lg border border-border/70 px-4 py-5 transition-all duration-200 hover:bg-background/50"
>
  {
    link.iconThemed?.light && link.iconThemed?.dark ? (
      <>
        <Image
          style={{ transform: 'translate3d(0, 0, 0)' }}
          src={`${link.iconThemed.light}!/format/webp`}
          alt={link.title}
          class="block rounded-lg object-cover dark:hidden"
          width={32}
          height={32}
        />
        <Image
          style={{ transform: 'translate3d(0, 0, 0)' }}
          src={`${link.iconThemed.dark}!/format/webp`}
          alt={link.title}
          class="hidden rounded-lg object-cover dark:block"
          width={32}
          height={32}
        />
      </>
    ) : link.icon ? (
      <Image
        style={{ transform: 'translate3d(0, 0, 0)' }}
        src={`${link.icon}!/format/webp`}
        alt={link.title}
        class="rounded-lg object-cover"
        width={32}
        height={32}
      />
    ) : null
  }
  <div class="flex flex-col items-center gap-1.5">
    <div class="line-clamp-1 items-center text-sm font-medium text-primary">
      {link.title}
    </div>
    <div
      class="line-clamp-2 items-center text-center text-sm font-normal text-secondary sm:hidden"
    >
      {link.description}
    </div>
    <div class="hidden flex-row gap-1 sm:flex">
      {
        link.feature.map((feature) => (
          <div class="self-center text-nowrap rounded-full border border-border bg-background/30 px-3 text-xs font-medium text-secondary">
            {feature}
          </div>
        ))
      }
    </div>
  </div>
</a>
